stages:
  - linter
  - simulation

before_script:
  - git config credential.https://git.psi.ch.password ${CI_JOB_TOKEN}
  - git force-clone https://git.psi.ch/GFA/Libraries/Firmware/TCL/PsiSim ../../../Firmware/TCL/PsiSim --depth=1 || true
  - git force-clone https://git.psi.ch/GFA/Libraries/Firmware/VHDL/psi_tb ../../../Firmware/VHDL/psi_tb --depth=1 || true

code-style:
  stage: linter
  tags: 
    - dsp
  allow_failure: true
  script:
    - echo "...tbd..."

modelsim:
  stage: simulation
  tags: 
    - dsp
  #rules: 
  #  - if: $CI_COMMIT_BRANCH == "master"
  script:
    - tool modelsim_2020.4
    - cd sim 
    - vsim -c -do ci.do -logfile Transcript.transcript
    - grep -Fq "SIMULATIONS COMPLETED SUCCESSFULLY" Transcript.transcript
    - (! grep -Fq "###ERROR###" Transcript.transcript)

ghdl:
  stage: simulation
  tags: 
    - dsp
  script:
    - tool ghdl_3.0.0
    - cd sim 
    - tclsh runGhdl.tcl 2>&1 | tee ghdl.log
    - grep -Fq "SIMULATIONS COMPLETED SUCCESSFULLY" ghdl.log
    - (! grep -Fq "###ERROR###" ghdl.log)

