stages:
  - linter
  - simulation

before_script:
    # Clone dependencies in expected directory structure:
  - git force-clone https://gitlab-ci-token:${CI_JOB_TOKEN}@git.psi.ch/GFA/Libraries/Firmware/TCL/PsiSim ../../../Firmware/TCL/PsiSim --depth=1 || true
  - git force-clone https://gitlab-ci-token:${CI_JOB_TOKEN}@git.psi.ch/GFA/Libraries/Firmware/VHDL/psi_tb ../../../Firmware/VHDL/psi_tb --depth=1 || true

code-style:
  stage: linter
  tags: 
    - test-vm-3205
  allow_failure: true
  script:
    - echo "...tbd..."

modelsim:
  stage: simulation
  tags: 
    - test-vm-3205
  #rules: 
  #  - if: $CI_COMMIT_BRANCH == "master"
  script:
    - toolchain-load modelsim_2020.4
    - cd sim 
    - vsim -c -do ci.do -logfile Transcript.transcript
    - grep -Fq "SIMULATIONS COMPLETED SUCCESSFULLY" Transcript.transcript
    - ! grep -Fq "###ERROR###" Transcript.transcript

ghdl:
  stage: simulation
  tags: 
    - test-vm-3205
  script:
    - ghdl --version
    - echo "...tbd..."
